<div class="row">
                    
    <!-- Portfolio item 8-->
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="1" href="#producto_1" onclick="verProducto(1, 1, 3)">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="img_producto_1" class="img-fluid" src="assets/img/products/producto_1_1.png" alt="Ford Mustand 1967" />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_1" class="portfolio-caption-heading">Ford Mustand 1967</div>
                <div id="detalle_1" class="portfolio-caption-subheading text-muted">Auto a escala 1:18</div>
                <div id="precio_1"  class="portfolio-caption-heading text-danger mt-3">$450</div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="1" href="#modal_producto">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_1" class="img-fluid" src="assets/img/products/producto_1.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_1" class="portfolio-caption-heading">Dodge Charger 1969</div>
                <div id="detalle_1" class="portfolio-caption-subheading text-muted">Auto a escala de la película: "The Dukes of Hazzard"</div>
                <div id="precio_1" class="portfolio-caption-heading text-danger mt-3">$650</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 2-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="2" href="#modal_producto">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_2" class="img-fluid" src="assets/img/products/producto_2.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_2" class="portfolio-caption-heading">Plymouth Fury 1958</div>
                <div id="detalle_2" class="portfolio-caption-subheading text-muted">Auto a escala de la película: "Christine"</div>
                <div id="precio_2" class="portfolio-caption-heading text-danger mt-3">$650</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 3-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="3" href="#producto_3">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_3" class="img-fluid" src="assets/img/products/producto_3.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_3" class="portfolio-caption-heading">Pontiac Firebird Trans Am 1982</div>
                <div id="detalle_3" class="portfolio-caption-subheading text-muted">Auto a escala de la película: "El auto fantástico"</div>
                <div id="precio_3" class="portfolio-caption-heading text-danger mt-3">$650</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <!-- Portfolio item 4-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="4" href="#producto_4">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_4" class="img-fluid" src="assets/img/products/producto_4.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_4" class="portfolio-caption-heading">Aston Martin Scalextric C4202</div>
                <div id="detalle_4" class="portfolio-caption-subheading text-muted">Auto a escala de la película: "No Time To Die"</div>
                <div id="precio_4" class="portfolio-caption-heading text-danger mt-3">$500</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
        <!-- Portfolio item 5-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="5" href="#producto_5">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_5" class="img-fluid" src="assets/img/products/producto_5.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_5" class="portfolio-caption-heading">Tucker Torpedo 1948</div>
                <div id="detalle_5" class="portfolio-caption-subheading text-muted">Auto a escala 1:18</div>
                <div id="precio_5"  class="portfolio-caption-heading text-danger mt-3">$500</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <!-- Portfolio item 6-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="6" href="#producto_6">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_6" class="img-fluid" src="assets/img/products/producto_6.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_6" class="portfolio-caption-heading">Chevrolet Bel Air 1953</div>
                <div id="detalle_6" class="portfolio-caption-subheading text-muted">Auto a escala 1:24</div>
                <div id="precio_6" class="portfolio-caption-heading text-danger mt-3">$450</div>
            </div> 
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="7" href="#producto_7">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_7" class="img-fluid" src="assets/img/products/producto_7.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_7" class="portfolio-caption-heading">Chevy Bel Air Bigtime 1956</div>
                <div id="detalle_7" class="portfolio-caption-subheading text-muted">Auto a escala 1:24</div>
                <div id="precio_7" class="portfolio-caption-heading text-danger mt-3">$450</div>
            </div>
        </div>
    </div>

    

    <!-- Portfolio item 9-->
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="9" href="#producto_9">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_9" class="img-fluid" src="assets/img/products/producto_9.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_9" class="portfolio-caption-heading">Chevrolet Impala Negro 1958</div>
                <div id="detalle_9" class="portfolio-caption-subheading text-muted">Auto a escala 1:24</div>
                <div id="precio_9" class="portfolio-caption-heading text-danger mt-3">$450</div>
            </div>
        </div>
    </div>

    <!-- Portfolio item 10-->
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="10" href="#producto_10">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_10" class="img-fluid" src="assets/img/products/producto_10.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_10" class="portfolio-caption-heading">Ford Crown Victoria 1955</div>
                <div id="detalle_10" class="portfolio-caption-subheading text-muted">Auto a escala 1:24</div>
                <div id="precio_10"  class="portfolio-caption-heading text-danger mt-3">$350</div>
            </div>
        </div>
    </div>

    <!-- Portfolio item 11-->
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="11" href="#producto_11">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_11" class="img-fluid" src="assets/img/products/producto_11.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_11" class="portfolio-caption-heading">Ford Shelby GT-500 1967</div>
                <div id="detalle_11" class="portfolio-caption-subheading text-muted">Auto a escala 1:24</div>
                <div id="precio_11" class="portfolio-caption-heading text-danger mt-3">$300</div>
            </div>
        </div>
    </div>

    <!-- Portfolio item 12-->
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="12" href="#producto_12">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_12" class="img-fluid" src="assets/img/products/producto_12.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_12" class="portfolio-caption-heading">Ford F-100 Pickup</div>
                <div id="detalle_12" class="portfolio-caption-subheading text-muted">Auto a escala 1:24</div>
                <div id="precio_12" class="portfolio-caption-heading text-danger mt-3">$300</div>
            </div>
        </div>
    </div>

    <!-- Portfolio item 13-->
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-id-producto="13" href="#producto_13">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa-solid fa-expand fa-3x"></i></div>
                </div>
                <img id="imagen_12" class="img-fluid" src="assets/img/products/producto_13.png" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div id="nombre_13" class="portfolio-caption-heading">Autobus Tomy Community School District</div>
                <div id="detalle_13" class="portfolio-caption-subheading text-muted">Auto a escala</div>
                <div id="precio_13" class="portfolio-caption-heading text-danger mt-3">$250</div>
            </div>
        </div>
    </div>

</div>